*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #ffff;
    font-family: "plain light";
}
html,body{
    height: 100%;
    width: 100%;
}
.main{
    background-color: #0B0B0B;
    position: relative;
}
.cursor{
    height: 2.5vw;
    width: 2.5vw;
    border-radius: 50%;
    border: 1px solid #ffffffb5;
    position: fixed;
    z-index: 111;
    mix-blend-mode: difference;
    transform: translate(-50%,-50%);
}
.loader{
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 100;
    padding: 17vh 5.5vw;
    background-color: #0B0B0B;
}
.line{
    gap: 5vw;
    display: flex;
    align-items: center;
    height: fit-content;
    justify-content: flex-start;
    overflow: hidden;
}
.line h1{
    font-weight: 700;
    font-size: 7vw;
    text-transform: uppercase;
}
.line h2{
    margin-left: -50px;
    height: 14vh;
    text-align: center;
    font-size: 6vw;
    text-transform: uppercase;
    font-weight: 700;
    opacity: 0;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
}
@keyframes nowAnime{
    0%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #ffff;
        color: #ffff;
        font-weight: 500;
        opacity: 1;  
    }
    48%{
        font-family: "plain light";
        -webkit-text-stroke: 1px #ffff;
        color: #ffff;
        font-weight: 500;
        opacity: 0;
    }
    50%{
        -webkit-text-stroke: 1px #ffff;
        font-family: "silk serif";
        font-weight: 500;
        color: transparent;
        opacity: 1;
    }
    100%{
        -webkit-text-stroke: 1px #ffff;
        font-family: "silk serif";
        font-weight: 500;
        color: transparent;
        opacity: 0;
    }
}
.countdown{
    display: flex;
    align-items: center;
    justify-content: center;
}
.countdown h5, .countdown h6{
    margin-bottom: 2.5vw;
    margin-left: 2vw;
    font-weight: 100;
    font-family: "silk serif";
    font-size: 3.2vw;
}
.countdown h5{
    width: 4.5vw;
    /* background-color: red; */
    text-align: right;
}
.page1{
    height: 100vh;
    width: 100%;
    background-color: #151515;
}
.page1 nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: gray; */
    padding: 1.5vw 5.3vw;
}
.navpart1{
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 2.5vw;
}
.temp{
    width: 36.5vw;
    margin-top: 3.8vh;
    /* background-color: rebeccapurple; */
}
.temp p{
    font-size: 1vw;
    line-height: 2vh;
}
.navpart2 {
    gap: 40px;
    display: flex;
}
.navpart2 h4{
    font-weight: 500;
    font-size: 1vw;
    font-family: "plain light";
}
.centerText{
    position: relative;
    z-index: 999;
    /* background-color: red; */
    margin-top: 15vh;
    width: 72%;
    margin-left: 28%;
}
.upText{
    overflow: hidden;
}
.hoverText{
    display: flex;
    transition: all ease 0.3;
}
.underlineHover{
    border-bottom: .6vw solid #ffff;
}
.underlineHover:hover{
    font-weight: 500;
    -webkit-text-stroke: .5px #ffff;
    color: transparent;
    border-bottom: .6vw solid #ffffff00;
}
.centerText h1{
    font-weight: 600;
    line-height: 7.5vw;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-size: 7.2vw;
}
/* .page2{
    height: 100vh;
    width: 100vw;
    background-color: #333;
} */